<!DOCTYPE html>
<html>
  <head>
    <title>SnackAttack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <center><b><i><u> <!-- fun html tags !! bring back the 90s!! -->
      Snack Attack!
    </u></i></b></center>

    <%= yield %>

    <hr>

    <div class="index-links">
      <%= link_to "Consumers", consumers_path %>
      |
      <%= link_to "Brands", brands_path %>
      |
      <%= link_to "Snacks", snacks_path %>
    </div>

  </body>


</html>
